.bookingCard {
  max-width: 360px;
  background-color: #ffffff;
  box-shadow: 0px 4px 33px rgba(0, 0, 0, 0.04);
  border-radius: 16px;
}

.formsGroup {
  max-width: 345px;
  display: flex;
  flex-direction: column;
  margin: 32px;
}

.form {
  display: flex;
  flex-direction: column;
}
