.header {
  display: flex;
  align-items: center;
  padding: 32px 31px 32px 35px;
  justify-content: space-between;
}

.name {
  display: flex;
  font-size: 24px;
  font-weight: 500;
  color: #424242;
  justify-content: flex-end;
}

.logOutGroup {
  display: flex;
  font-size: 16px;
  font-weight: 400;
  align-items: center;
  cursor: pointer;
}

.logOutIcon {
  margin-left: 15px;
}
