.logInFormCard {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 409px;
  background-color: #ffffff;
  box-shadow: 0px 4px 33px rgba(0, 0, 0, 0.04);
  border-radius: 16px;
}

.name {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  padding: 32px 32px 0px 32px;
}

.formsGroup {
  max-width: 345px;
  display: flex;
  flex-direction: column;
  margin: 32px;
}

.form {
  display: flex;
  flex-direction: column;
}
