.favoritedCard {
  width: 360px;
  max-height: 400px;
  background-color: #ffffff;
  box-shadow: 0px 4px 33px rgba(0, 0, 0, 0.04);
  border-radius: 16px;
  margin-top: 20px;
}

.formsGroup {
  max-width: 345px;
  display: flex;
  flex-direction: column;
  margin: 32px;
  flex-wrap: wrap;
}

.name {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 32px;
}

.filter {
  display: flex;
}

.rateFilter {
  display: flex;
}

.priceFilter {
  display: flex;
}

.filterText {
  margin-right: 9px;
}

.btn {
  display: flex;
  background: #ffffff;
  border: 1px solid #41522e;
  border-radius: 4px;
  cursor: pointer;
  padding: 4px;
  margin-right: 8px;
}

.btn:hover {
  background-color: #ebebeb;
}

.btn:active {
  background-color: #e2e0e0;
}

.hotels {
  margin-top: 32px;
  max-height: 210px;
  overflow: hidden;
  overflow-y: scroll;
}

.hotels::-webkit-scrollbar {
  width: 3px;
}

.hotels::-webkit-scrollbar-thumb {
  background: #41522e;
}

.hotels::-webkit-scrollbar-track-piece {
  background: #e7e7e7;
}
