.formButton {
  padding: 15px;
  background: linear-gradient(104.34deg, #41522e -15.34%, #be8022 145.95%);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  cursor: pointer;
}

.formButton:hover {
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.2),
      rgba(255, 255, 255, 0.2)
    ),
    linear-gradient(104.34deg, #41522e -15.34%, #be8022 145.95%);
  border-radius: 4px;
}

.formButton:active {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    linear-gradient(104.34deg, #41522e -15.34%, #be8022 145.95%);
  border-radius: 4px;
}

.formButton:disabled {
  background: #808080;
}
