.mainCard {
  max-width: 664px;
  max-height: 902px;
  background-color: #ffffff;
  box-shadow: 0px 4px 33px rgba(0, 0, 0, 0.04);
  border-radius: 16px;
}

.wrap {
  padding: 48px 32px 58px 32px;
}

.bookingGroup {
  display: flex;
  justify-content: space-between;
  margin-bottom: 28px;
}

.hotelsInfo {
  display: flex;
}

.hotel {
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;
  color: #424242;
}
.arrow {
  margin: 0px 20px;
}

.location {
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;
  color: #424242;
}
.date {
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #41522e;
}

.favoritedCount {
  display: flex;
  font-weight: 300;
  font-size: 17px;
  line-height: 22px;
  color: #424242;
  margin-bottom: 10px;
}

.count {
  font-weight: 600;
  font-size: 17px;
  line-height: 22px;
  color: #41522e;
  margin: 0px 4px;
}
.hotels {
  max-height: 430px;
  overflow: hidden;
  overflow-y: scroll;
}

.hotels::-webkit-scrollbar {
  width: 3px;
}

.hotels::-webkit-scrollbar-thumb {
  background: #41522e;
}

.hotels::-webkit-scrollbar-track-piece {
  background: #e7e7e7;
}
