.form {
  margin-bottom: 32px;
}

.formLabel {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #424242;
  padding-bottom: 7px;

  &.booking {
    font-weight: 500;
  }
}

.formInput {
  width: 345px;
  border: 1px solid #c9cacc;
  border-radius: 4px;
  padding: 15px;
  font-weight: 300;
  font-size: 16px;
  line-height: 18px;

  &.booking {
    width: 296px;
  }
}

.error {
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  color: #eb1717;
}
